.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.element {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
}