.section {
  width: clamp(20ch, 100%, 120ch);

  p {
    padding: .5rem 0;
  }
}

.aside {
  width: clamp(20ch, 100%, 120ch);
}

.sectionOne {
  grid-area: section_one;
}

.sectionTwo {
  grid-area: section_two;
}

.sectionThree {
  grid-area: section_three;
}

.asideOne {
  grid-area: aside_one;
}

.greeting {
  grid-area: greeting;
}

.article {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "section_one section_one section_one aside_one"
    "section_two section_two section_two aside_one"
    "section_three section_three section_three aside_one"
  ;
}

@media (min-width: 1921px) {
  .article {
    grid-template-areas:
    "section_one section_one section_three section_three"
    "section_two section_two aside_one aside_one"

    ;
  }

}

@media (max-width: 1200px) {

  // todo refactor and make breakpoint vars, and maybe other vars too
  .article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "section_one"
      "section_two"
      "section_three"
      "aside_one"
    ;
  }
}